@model HMSYSTEM.Models.Ward

<div class="container mt-5">
    <div class="card shadow p-4 bg-light" style="max-width: 900px; margin: auto;">
        <div class="card-header">
            <div class="btn-group">

                <a class="btn btn-success " asp-route-id="" asp-controller="ward" asp-action="Save">
                    <i class="fa fa-plus"></i>
                    Add
                </a>


                <a class="btn btn-primary " asp-route-id="" asp-controller="ward" asp-action="Index">
                    <i class="fa fa-list"></i>
                     List
                </a>


            </div>
        </div>
        <div class="row d-flex justify-content-center">
           
            <div class="col-md-8">
                <div class="mb-2 d-flex">
                    <div class="text-end fw-bold" style="width: 150px;"><string>Name : </string></div>
                    <div>@Model.Name</div>
                </div>
                <div class="mb-2 d-flex">
                    <div class="text-end fw-bold" style="width: 150px;"><strong>Department: </strong></div>
                    <div>@Model.Department.DepartmentName</div>
                </div>
                <div class="mb-2 d-flex">
                    <div class="text-end fw-bold" style="width: 150px;"><strong>Type : </strong></div>
                    <div>@Model.Type</div>
                </div>
                <div class="mb-2 d-flex">
                    <div class="text-end fw-bold" style="width: 150px;"><string>Total Beds : </string></div>
                    <div>@Model.TotalBeds pcs</div>
                </div>
                

                <div class="text-end mt-3">
                    <a asp-action="Index" class="btn btn-secondary">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
