@model Ward
@using HMSYSTEM.Enum

@{
    var departments = ViewBag.Department as List<HMSYSTEM.Models.Department>;
    var wardTypes = Enum.GetValues(typeof(WardType)).Cast<WardType>();
}

<form asp-action="Save" method="post" enctype="multipart/form-data" id="myForm">
    <div class="d-flex justify-content-center mt-3">
        <div class="col-md-6">

            <div class="card card-warning card-outline mb-4">
                <div class="btn-group-sm">
                    <a class="btn btn-primary" asp-controller="Ward" asp-action="Index">
                        <i class="fa fa-list"></i> Ward List
                    </a>
                </div>
                <div class="card-header">
                    <div class="card-title">Ward Information</div>
                </div>

                <div class="card-body">
                    <div class="row mb-3">
                        <label asp-for="Name" class="col-sm-3 col-form-label">Name</label>
                        <div class="col-sm-9">
                            <input asp-for="Name" class="form-control" id="Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label asp-for="FloorNo" class="col-sm-3 col-form-label">Floor No</label>
                        <div class="col-sm-9">
                            <input asp-for="FloorNo" class="form-control" id="floorNo" />
                            <span asp-validation-for="FloorNo" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label asp-for="Type" class="form-label col-sm-3">Ward Type</label>
                        <div class="col-sm-9">
                            <select asp-for="Type" class="form-select role-dropdown" id="type">
                                <option value="">-- Select Ward Type --</option>
                                @foreach (var type in wardTypes)
                                {
                                    <option value="@(Convert.ToInt32(type))">@type</option>
                                }
                            </select>
                            <span asp-validation-for="Type" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label asp-for="DepartmentId" class="form-label col-sm-3">Department</label>
                        <div class="col-sm-9">
                            <select asp-for="DepartmentId" class="form-select role-departmen" id="DepartmentId">
                                <option value="">-- Select Department --</option>
                                @foreach (var med in departments)
                                {
                                    <option value="@med.DepartmentId">@med.DepartmentName</option>
                                }
                            </select>
                            <span asp-validation-for="DepartmentId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label asp-for="TotalBeds" class="col-sm-3 col-form-label">Total Beds</label>
                        <div class="col-sm-9">
                            <input asp-for="TotalBeds" class="form-control" type="number" id="number" />
                            <span asp-validation-for="TotalBeds" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="card-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-warning me-2">Save</button>
                    <button type="reset" class="btn btn-danger me-2">Reset</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>

      $(document).ready(function () {
           $(".role-dropdown").select2({
               placeholder: "--Select Ward Type--",
               allowClear: true,
               width: '100%'
           });


           $(document).on('select2:open', () => {
               document.querySelector('.select2-search__field').focus();
           });
      });

        $(document).ready(function () {
               $(".role-departmen").select2({
                 placeholder: "--Select Department--",
                 allowClear: true,
                 width: '100%'
             });


             $(document).on('select2:open', () => {
                 document.querySelector('.select2-search__field').focus();
             });
        });


  $(document).ready(function(){
    $("#myForm").on('submit', function(e){
       
        var offset = 20;
        var container = $("body");

        var name = $("#Name").val().trim();
        var floorNo = $("#floorNo").val().trim();
        var type = $("#type").val().trim();
        var DepartmentId = $("#DepartmentId").val().trim();
        var number = $("#number").val().trim();

        if(name==="") offset = createAlert("❌ Name Required", container, offset);
        if(floorNo==="") offset = createAlert("❌ Floor Required", container, offset);
        if(type==="") offset = createAlert("❌ Type is Required", container, offset);
        if(DepartmentId==="") offset = createAlert("❌ Department Required", container, offset);
        if(number==="" || isNaN(number) || parseInt(number)<=0) offset = createAlert("❌ Total Beds Required", container, offset);

        if($(".field-alert").length > 0) e.preventDefault(); 
    });
  });

</script>
