@model User;
@{
    ViewData["Title"] = "User Edit";
}

<div class="d-flex justify-content-center mt-3">
    <div class="col-md-6">

        <!--begin::Horizontal Form-->
        <div class="card card-warning card-outline mb-4">
            <!--begin::Header-->
            <div class="card-header"><div class="card-title">User Information Edit</div></div>
            <!--end::Header-->
            <!--begin::Form-->
            <form asp-action="Update" method="post" enctype="multipart/form-data">
                <!--begin::Body-->
                <div class="card-body">

                    <div class="row mb-3">
                        <label asp-for="Id" class="col-sm-3 col-form-label visible">Id</label>
                        <div class="col-sm-9">
                            <input type="" asp-for="Id" class="form-control" id="id" readonly>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label asp-for="Name" class="col-sm-3 col-form-label">Name</label>
                        <div class="col-sm-9">
                            <input asp-for="Name" class="form-control" id="name">
                        </div>
                    </div>


                    <div class="row mb-3">
                        <label asp-for="MobileNo" class="col-sm-3 col-form-label">Mobile No</label>
                        <div class="col-sm-9">
                            <input asp-for="MobileNo" class="form-control" id="mobileNo">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label asp-for="UserName" class="col-sm-3 col-form-label">User Name</label>
                        <div class="col-sm-9">
                            <input asp-for="UserName" class="form-control" id="userName">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="RoleId" class="col-sm-3 col-form-label">Role</label>
                        <div class="col-sm-9 position-relative">
                            <div class="input-group">
                                <select name="RoleId" id="RoleId" class="form-select pe-5">
                                    <option value="">-- Select Role --</option>
                                    @foreach (var item in (IEnumerable<HMSYSTEM.Models.Role>)ViewBag.Role)
                                    {
                                        <option value="@item.Id" selected="@(item.Id == Model.RoleId ? "selected" : null)">
                                            @item.Name
                                        </option>
                                    }
                                </select>
                                
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Status</label>
                        <div class="col-sm-9">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" asp-for="Status" value="true" id="statusActive" />
                                <label class="form-check-label" for="statusActive">Active</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" asp-for="Status" value="false" id="statusInactive" />
                                <label class="form-check-label" for="statusInactive">Inactive</label>
                            </div>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                    </div>
                   
                   

                </div>
                <!--end::Body-->
                <!--begin::Footer-->
                <div class="card-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-warning me-2">Save</button>
                    <button type="reset" class="btn btn-danger me-2">Reset</button>
                </div>
                <!--end::Footer-->
            </form>
            <!--end::Form-->
        </div>
        <!--end::Horizontal Form-->
    </div>
</div>
