@model Designation

<div class="d-flex justify-content-center mt-3">
    <div class="col-md-6">

        <!--begin::Horizontal Form-->
        <div class="card card-warning card-outline mb-4">
            <!--begin::Header-->
            <div class="btn-group-sm">
                <a class="btn btn-primary" asp-route-id="" asp-controller="Designation" asp-action="Index">
                    <i class="fa fa-list"></i>
                    Designation List
                </a>
            </div>
            <div class="card-header"><div class="card-title">Designation Information</div></div>
            <!--end::Header-->
            <!--begin::Form-->
            <form asp-action="Save" id="myForm" method="post" enctype="multipart/form-data">
                <!--begin::Body-->
                <div class="card-body">

                    <div class="row mb-3">
                        <label asp-for="DesignationName" class="col-sm-3 col-form-label">Designation</label>
                        <div class="col-sm-9">
                            <input asp-for="DesignationName" class="form-control" id="designationName">
                           <span asp-validation-for="DesignationName" class="text-danger"></span> 
                        </div>
                    </div>


                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Status</label>
                        <div class="col-sm-9">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" asp-for="Status" value="true" id="statusActive" />
                                <label class="form-check-label" for="statusActive">Active</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" asp-for="Status" value="false" id="statusInactive" />
                                <label class="form-check-label" for="statusInactive">Inactive</label>
                            </div>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <!--end::Body-->
                <!--begin::Footer-->
                <div class="card-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-warning me-2">Save</button>
                    <button type="reset" class="btn btn-danger me-2">Reset</button>
                </div>
                <!--end::Footer-->
            </form>
            <!--end::Form-->
        </div>
        <!--end::Horizontal Form-->
    </div>
</div>




<script>
    $(document).ready(function () {
        $("#myForm").on('submit', function (e) {
            let name = $("#designationName").val().trim();

            let container = $("body");
            let offset = 20;

            if (name === "") offset = createAlert("❌ Name is required!", container, offset);
            if ($(".field-alert").length > 0) return false;


            this.submit();
           
        });
    });
</script>