<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="fa fa-id-badge"></i>

        <p>
            Designation
            <i class="nav-arrow bi bi-chevron-right"></i>
        </p>
    </a>

    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a asp-controller="Designation" asp-action="Save" class="nav-link">
                <i class="ms-4 bi bi-people-fill"></i>
                <p>Add Designation</p>
            </a>
        </li>

    </ul>


    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a asp-controller="Designation" asp-action="Index" class="nav-link">
                <i class="ms-4 fas fa-sticky-note"></i>
                <p>Designation List</p>
            </a>
        </li>

    </ul>

</li>
