<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="fa fa-cogs" aria-hidden="true"></i>

        <p>
            Reports
            <i class="nav-arrow bi bi-chevron-right"></i>
        </p>
    </a>

    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a asp-controller="Report" asp-action="GetWardBedStatus" class="nav-link">
                <i class="ms-4 bi bi-people-fill"></i>
                Ward wise Bed Status
            </a>
        </li>

    </ul>


    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a asp-controller="Report" asp-action="AdmissionReport" class="nav-link">
                <i class="ms-4 fas fa-sticky-note"></i>
                <p>AdmissionReport</p>
            </a>
        </li>

    </ul>

    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a asp-controller="Report" asp-action="AppointmentReport" class="nav-link">
                <i class="ms-4 fas fa-clipboard-list"></i>
                <p>Appointment Report</p>
            </a>
        </li>

    </ul>

    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a asp-controller="Report" asp-action="PrescriptionReports" class="nav-link">
                <i class="ms-4 fa fa-prescription-bottle"></i>
                <p>Prescription Report</p>
            </a>
        </li>

    </ul>

    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a asp-controller="Report" asp-action="BillReport" class="nav-link">
                @* <i class="ms-4 fa fa-prescription-bottle"></i> *@
                <i class="ms-4 fa fa-receipt"></i>
                <p>Bills Report</p>
            </a>
        </li>

    </ul>
</li>
