
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="bi bi-calendar-check"></i>

        <p>
            Bill
            <i class="nav-arrow bi bi-chevron-right"></i>
        </p>
    </a>

    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a asp-controller="ServiceItem" asp-action="Index" class="nav-link">
                <i class="bi bi-list-columns-reverse"></i>
                <p>ServiceItem List</p>
            </a>
        </li>

        <li class="nav-item">
            <a asp-controller="Bill" asp-action="Index" class="nav-link">
                <i class="bi bi-receipt-cutoff"></i>
                <p>Bill List</p>
            </a>
        </li>


    </ul>
   

</li>
